section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5vh;
}

.darkMode{
    background-color: #000;
    color: #fff;
}
.modeBtn{
    background-color: #fff;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    text-align: center;
    font-size: 2vh;
    float: right;
    margin-left: .5vw;
}